In [1]:
#import necessary libraries

import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, confusion_matrix
import seaborn as sns

In [2]:
#Load the dataset
dataset = pd.read_csv('spambase.data')

In [3]:
#before removing duplicates
dataset.shape

(4600, 58)

In [4]:
#data cleaning
# Remove duplicate rows
dataset.drop_duplicates(inplace=True)

In [5]:
#after removing duplicates
dataset.shape

(4209, 58)

In [6]:
# Remove missing values
dataset.dropna(inplace=True)

In [7]:
#after removing missing values
dataset.shape

(4209, 58)

In [8]:
#check data types
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4209 entries, 0 to 4599
Data columns (total 58 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       4209 non-null   float64
 1   0.64    4209 non-null   float64
 2   0.64.1  4209 non-null   float64
 3   0.1     4209 non-null   float64
 4   0.32    4209 non-null   float64
 5   0.2     4209 non-null   float64
 6   0.3     4209 non-null   float64
 7   0.4     4209 non-null   float64
 8   0.5     4209 non-null   float64
 9   0.6     4209 non-null   float64
 10  0.7     4209 non-null   float64
 11  0.64.2  4209 non-null   float64
 12  0.8     4209 non-null   float64
 13  0.9     4209 non-null   float64
 14  0.10    4209 non-null   float64
 15  0.32.1  4209 non-null   float64
 16  0.11    4209 non-null   float64
 17  1.29    4209 non-null   float64
 18  1.93    4209 non-null   float64
 19  0.12    4209 non-null   float64
 20  0.96    4209 non-null   float64
 21  0.13    4209 non-null   float64
 22  0.14    4209 non-null   float64
 23  0.15    4209 non-null   float64
 24  0.16    4209 non-null   float64
 25  0.17    4209 non-null   float64
 26  0.18    4209 non-null   float64
 27  0.19    4209 non-null   float64
 28  0.20    4209 non-null   float64
 29  0.21    4209 non-null   float64
 30  0.22    4209 non-null   float64
 31  0.23    4209 non-null   float64
 32  0.24    4209 non-null   float64
 33  0.25    4209 non-null   float64
 34  0.26    4209 non-null   float64
 35  0.27    4209 non-null   float64
 36  0.28    4209 non-null   float64
 37  0.29    4209 non-null   float64
 38  0.30    4209 non-null   float64
 39  0.31    4209 non-null   float64
 40  0.33    4209 non-null   float64
 41  0.34    4209 non-null   float64
 42  0.35    4209 non-null   float64
 43  0.36    4209 non-null   float64
 44  0.37    4209 non-null   float64
 45  0.38    4209 non-null   float64
 46  0.39    4209 non-null   float64
 47  0.40    4209 non-null   float64
 48  0.41    4209 non-null   float64
 49  0.42    4209 non-null   float64
 50  0.43    4209 non-null   float64
 51  0.778   4209 non-null   float64
 52  0.44    4209 non-null   float64
 53  0.45    4209 non-null   float64
 54  3.756   4209 non-null   float64
 55  61      4209 non-null   int64
 56  278     4209 non-null   int64
 57  1       4209 non-null   int64
dtypes: float64(55), int64(3)
memory usage: 1.9 MB

In [9]:
# Save cleaned dataset
dataset.to_csv('cleaned_dataset.csv', index=False)

In [10]:
# print first five data points 
dataset.head()

,0,0.64,0.64.1,0.1,0.32,0.2,0.3,0.4,0.5,0.6,...,0.41,0.42,0.43,0.778,0.44,0.45,3.756,61,278,1
0,0.21,0.28,0.50,0.0,0.14,0.28,0.21,0.07,0.00,0.94,...,0.00,0.132,0.0,0.372,0.180,0.048,5.114,101,1028,1
1,0.06,0.00,0.71,0.0,1.23,0.19,0.19,0.12,0.64,0.25,...,0.01,0.143,0.0,0.276,0.184,0.010,9.821,485,2259,1
2,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.00,0.137,0.0,0.137,0.000,0.000,3.537,40,191,1
3,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.00,0.135,0.0,0.135,0.000,0.000,3.537,40,191,1
4,0.00,0.00,0.00,0.0,1.85,0.00,0.00,1.85,0.00,0.00,...,0.00,0.223,0.0,0.000,0.000,0.000,3.000,15,54,1

In [11]:
#print last five data points
dataset.tail()

,0,0.64,0.64.1,0.1,0.32,0.2,0.3,0.4,0.5,0.6,...,0.41,0.42,0.43,0.778,0.44,0.45,3.756,61,278,1
4595,0.31,0.0,0.62,0.0,0.00,0.31,0.0,0.0,0.0,0.0,...,0.000,0.232,0.0,0.000,0.0,0.0,1.142,3,88,0
4596,0.00,0.0,0.00,0.0,0.00,0.00,0.0,0.0,0.0,0.0,...,0.000,0.000,0.0,0.353,0.0,0.0,1.555,4,14,0
4597,0.30,0.0,0.30,0.0,0.00,0.00,0.0,0.0,0.0,0.0,...,0.102,0.718,0.0,0.000,0.0,0.0,1.404,6,118,0
4598,0.96,0.0,0.00,0.0,0.32,0.00,0.0,0.0,0.0,0.0,...,0.000,0.057,0.0,0.000,0.0,0.0,1.147,5,78,0
4599,0.00,0.0,0.65,0.0,0.00,0.00,0.0,0.0,0.0,0.0,...,0.000,0.000,0.0,0.125,0.0,0.0,1.250,5,40,0

In [12]:
print(dataset.shape)

(4209, 58)

In [13]:
#dataset['57'].value_count()
dataset.describe()

,0,0.64,0.64.1,0.1,0.32,0.2,0.3,0.4,0.5,0.6,...,0.41,0.42,0.43,0.778,0.44,0.45,3.756,61,278,1
count,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,...,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.00000,4209.000000
mean,0.104391,0.112530,0.291390,0.063093,0.325322,0.096679,0.117503,0.108026,0.091882,0.248479,...,0.040413,0.144082,0.017380,0.281018,0.076075,0.045809,5.384282,52.137800,291.18508,0.398670
std,0.300036,0.454241,0.515752,1.352647,0.687887,0.276059,0.397327,0.410328,0.282174,0.656705,...,0.252562,0.274280,0.105743,0.843387,0.239734,0.435976,33.151287,199.605834,618.72831,0.489683
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.00000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.627000,7.000000,40.00000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.073000,0.000000,0.016000,0.000000,0.000000,2.297000,15.000000,101.00000,0.000000
75%,0.000000,0.000000,0.440000,0.000000,0.410000,0.000000,0.000000,0.000000,0.000000,0.190000,...,0.000000,0.194000,0.000000,0.331000,0.053000,0.000000,3.706000,44.000000,273.00000,1.000000
max,4.540000,14.280000,5.100000,42.810000,10.000000,5.880000,7.270000,11.110000,5.260000,18.180000,...,4.385000,9.752000,4.081000,32.478000,6.003000,19.829000,1102.500000,9989.000000,15841.00000,1.000000

In [14]:
#separate index location for X (:-all rows)
x=dataset.iloc[:,0:57]
x.head()

,0,0.64,0.64.1,0.1,0.32,0.2,0.3,0.4,0.5,0.6,...,0.40,0.41,0.42,0.43,0.778,0.44,0.45,3.756,61,278
0,0.21,0.28,0.50,0.0,0.14,0.28,0.21,0.07,0.00,0.94,...,0.0,0.00,0.132,0.0,0.372,0.180,0.048,5.114,101,1028
1,0.06,0.00,0.71,0.0,1.23,0.19,0.19,0.12,0.64,0.25,...,0.0,0.01,0.143,0.0,0.276,0.184,0.010,9.821,485,2259
2,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.0,0.00,0.137,0.0,0.137,0.000,0.000,3.537,40,191
3,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.0,0.00,0.135,0.0,0.135,0.000,0.000,3.537,40,191
4,0.00,0.00,0.00,0.0,1.85,0.00,0.00,1.85,0.00,0.00,...,0.0,0.00,0.223,0.0,0.000,0.000,0.000,3.000,15,54

In [15]:
#separate index location for Y (:-all rows)
y=dataset.iloc[:,-1]
y.head()

0    1
1    1
2    1
3    1
4    1
Name: 1, dtype: int64

In [16]:
#feature scaling
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [17]:
x=scaler.fit_transform(x)
x[0:5]

array([[ 3.52030682e-01,  3.68723902e-01,  4.04525775e-01,
        -4.66499100e-02, -2.69439563e-01,  6.64145010e-01,
         2.32826054e-01, -9.26824327e-02, -3.25659622e-01,
         1.05314009e+00,  8.32408230e-01,  2.54742619e-01,
         1.78568086e+00,  4.29902786e-01,  3.93032219e-01,
        -1.42706498e-01, -1.73030774e-01,  1.69184472e-01,
         9.90346442e-01, -1.68088139e-01,  6.78640440e-01,
        -1.22863174e-01,  9.37440590e-01,  7.85252199e-01,
        -3.42455326e-01, -3.08540545e-01, -2.08371511e-01,
        -2.40192753e-01, -1.70608095e-01, -2.36150798e-01,
        -1.64122373e-01, -1.49386289e-01, -1.79843671e-01,
        -1.51709366e-01, -2.03497956e-01, -2.57180362e-01,
        -1.73182266e-01, -6.15733762e-02, -1.87676280e-01,
        -1.91827641e-01, -1.30248924e-01, -1.78351105e-01,
        -2.10391774e-01, -1.32002786e-01, -3.06146600e-01,
        -2.04050036e-01, -7.31030494e-02, -1.16421100e-01,
        -1.60029911e-01, -4.40567113e-02, -1.64384139e-01,
         1.07890277e-01,  4.33554343e-01,  5.02723981e-03,
        -8.15397006e-03,  2.44822531e-01,  1.19099523e+00],
       [-1.47968353e-01, -2.47761873e-01,  8.11746731e-01,
        -4.66499100e-02,  1.31531149e+00,  3.38089060e-01,
         1.82483669e-01,  2.91858457e-02,  1.94271590e+00,
         2.31569896e-03,  1.75549586e+00, -1.30521133e-01,
         7.21655584e-02, -1.76920660e-01,  7.04084298e+00,
        -2.43015725e-01, -1.94880900e-01,  1.55584703e+00,
        -2.02581762e-01,  4.64846952e-01, -2.61021278e-01,
        -1.22863174e-01,  3.01524173e+00, -7.17842979e-02,
        -3.42455326e-01, -3.08540545e-01, -2.08371511e-01,
        -2.40192753e-01, -1.70608095e-01, -2.36150798e-01,
        -1.64122373e-01, -1.49386289e-01, -1.79843671e-01,
        -1.51709366e-01, -2.03497956e-01, -2.57180362e-01,
        -3.38081246e-01, -6.15733762e-02, -1.87676280e-01,
        -4.04505142e-03, -1.30248924e-01, -1.78351105e-01,
         3.07139406e-01, -1.32002786e-01, -2.48779890e-01,
        -1.39415977e-01, -7.31030494e-02, -1.16421100e-01,
        -1.20430982e-01, -3.94695461e-03, -1.64384139e-01,
        -5.95003134e-03,  4.50241480e-01, -8.21439213e-02,
         1.33848337e-01,  2.16884257e+00,  3.18079631e+00],
       [-3.47967967e-01, -2.47761873e-01, -5.65047928e-01,
        -4.66499100e-02,  4.42971463e-01, -3.50251280e-01,
         4.84537977e-01,  1.27224229e+00,  7.73084770e-01,
         5.81030578e-01,  1.37540095e+00, -2.89159149e-01,
         6.86444629e-01, -1.76920660e-01, -1.85038282e-01,
         7.04506090e-02, -3.25981652e-01, -3.48502882e-01,
         8.26389485e-01, -1.68088139e-01, -4.35032708e-01,
        -1.22863174e-01, -2.86469672e-01, -2.10763189e-01,
        -3.42455326e-01, -3.08540545e-01, -2.08371511e-01,
        -2.40192753e-01, -1.70608095e-01, -2.36150798e-01,
        -1.64122373e-01, -1.49386289e-01, -1.79843671e-01,
        -1.51709366e-01, -2.03497956e-01, -2.57180362e-01,
        -3.38081246e-01, -6.15733762e-02, -1.87676280e-01,
        -1.91827641e-01, -1.30248924e-01, -1.78351105e-01,
        -2.10391774e-01, -1.32002786e-01, -3.06146600e-01,
        -2.04050036e-01, -7.31030494e-02, -1.16421100e-01,
        -1.60029911e-01, -2.58250037e-02, -1.64384139e-01,
        -1.70781311e-01, -3.17366830e-01, -1.05083701e-01,
        -5.57294190e-02, -6.08160685e-02, -1.61940195e-01],
       [-3.47967967e-01, -2.47761873e-01, -5.65047928e-01,
        -4.66499100e-02,  4.42971463e-01, -3.50251280e-01,
         4.84537977e-01,  1.27224229e+00,  7.73084770e-01,
         5.81030578e-01,  1.37540095e+00, -2.89159149e-01,
         6.86444629e-01, -1.76920660e-01, -1.85038282e-01,
         7.04506090e-02, -3.25981652e-01, -3.48502882e-01,
         8.26389485e-01, -1.68088139e-01, -4.35032708e-01,
        -1.22863174e-01, -2.86469672e-01, -2.10763189e-01,
        -3.42455326e-01, -3.08540545e-01, -2.08371511e-01,
        -2.40192753e-01, -1.70608095e-01, -2.36150798e-01,
        -1.64122373e-01, -1.49386289e-01, -1.79843671e-01,
        -1.51709366e-01, -2.03497956e-01, -2.57180362e-01,
        -3.38081246e-01, -6.15733762e-02, -1.87676280e-01,
        -1.91827641e-01, -1.30248924e-01, -1.78351105e-01,
        -2.10391774e-01, -1.32002786e-01, -3.06146600e-01,
        -2.04050036e-01, -7.31030494e-02, -1.16421100e-01,
        -1.60029911e-01, -3.31176867e-02, -1.64384139e-01,
        -1.73152984e-01, -3.17366830e-01, -1.05083701e-01,
        -5.57294190e-02, -6.08160685e-02, -1.61940195e-01],
       [-3.47967967e-01, -2.47761873e-01, -5.65047928e-01,
        -4.66499100e-02,  2.21672953e+00, -3.50251280e-01,
        -2.95768985e-01,  4.24582828e+00, -3.25659622e-01,
        -3.78417774e-01, -3.07876486e-01, -6.40429040e-01,
        -3.15800170e-01, -1.76920660e-01, -1.85038282e-01,
        -3.18247645e-01, -3.25981652e-01, -3.48502882e-01,
        -9.71483353e-01, -1.68088139e-01, -7.04750423e-01,
        -1.22863174e-01, -2.86469672e-01, -2.10763189e-01,
        -3.42455326e-01, -3.08540545e-01, -2.08371511e-01,
        -2.40192753e-01, -1.70608095e-01, -2.36150798e-01,
        -1.64122373e-01, -1.49386289e-01, -1.79843671e-01,
        -1.51709366e-01, -2.03497956e-01, -2.57180362e-01,
        -3.38081246e-01, -6.15733762e-02, -1.87676280e-01,
        -1.91827641e-01, -1.30248924e-01, -1.78351105e-01,
        -2.10391774e-01, -1.32002786e-01, -3.06146600e-01,
        -2.04050036e-01, -7.31030494e-02, -1.16421100e-01,
        -1.60029911e-01,  2.87760367e-01, -1.64384139e-01,
        -3.33240917e-01, -3.17366830e-01, -1.05083701e-01,
        -7.19298096e-02, -1.86077790e-01, -3.83388406e-01]])

In [18]:
print(dataset.shape)

(4209, 58)

In [19]:
#Index location for X
X=dataset.iloc[:,0:57]
X.head()

,0,0.64,0.64.1,0.1,0.32,0.2,0.3,0.4,0.5,0.6,...,0.40,0.41,0.42,0.43,0.778,0.44,0.45,3.756,61,278
0,0.21,0.28,0.50,0.0,0.14,0.28,0.21,0.07,0.00,0.94,...,0.0,0.00,0.132,0.0,0.372,0.180,0.048,5.114,101,1028
1,0.06,0.00,0.71,0.0,1.23,0.19,0.19,0.12,0.64,0.25,...,0.0,0.01,0.143,0.0,0.276,0.184,0.010,9.821,485,2259
2,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.0,0.00,0.137,0.0,0.137,0.000,0.000,3.537,40,191
3,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.0,0.00,0.135,0.0,0.135,0.000,0.000,3.537,40,191
4,0.00,0.00,0.00,0.0,1.85,0.00,0.00,1.85,0.00,0.00,...,0.0,0.00,0.223,0.0,0.000,0.000,0.000,3.000,15,54

In [20]:
#Index location for Y
Y=dataset.iloc[:,-1]
Y.head()

0    1
1    1
2    1
3    1
4    1
Name: 1, dtype: int64

In [21]:
#split into 2 parts for training and testing
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2)

In [22]:
X_train.shape

(3367, 57)

In [23]:
X_test.shape

(842, 57)

In [24]:
#train the model using Decision Tree algorithm

from sklearn.tree import DecisionTreeClassifier
Model = DecisionTreeClassifier()
Model.fit(X_train,Y_train)

DecisionTreeClassifier()

In [25]:
#Predicted values

Pred = Model.predict(X_test)
Pred[0:5]

array([0, 0, 0, 0, 1], dtype=int64)

In [26]:
#compare with dataset

Y_test[0:5]

3344    0
4461    0
1947    0
267     1
1489    1
Name: 1, dtype: int64

In [27]:
#accuracy score
from sklearn.metrics import accuracy_score,confusion_matrix
import seabron as sns
accuracy_score(Y_test,Pred)
confusionMatrix = confusion_matrix(Y_test,Pred)

ModuleNotFoundError: No module named 'seabron'